@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-mobile: 64px;
  --header-desktop: 96px;
  --header-desktop-offset: 72px;
}

@media (prefers-color-scheme: dark) {
  :root {}
}

* {
  margin: 0;
  padding: 0;
  border-width: 0;
  outline: 0;
  font-size: 100%;
}

html {
  scroll-behavior: smooth;
}

.slick-dots li button::before {
  font-size: 16px !important;
  color: #D9D9D9 !important;
  opacity: 1 !important;
  overflow: hidden;
  /* more CSS */
}

.slick-dots li.slick-active button:before {
  color: #F05A32 !important;
  opacity: 1 !important;
}

.slick-slide .slick-active{
  width: fit-content !important;
  margin: 0 10px !important;
}