@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-mobile: 64px;
  --header-desktop: 96px;
  --header-desktop-offset: 72px;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  margin: 0;
  padding: 0;
  border-width: 0;
  outline: 0;
  font-size: 100%;
}

html {
  scroll-behavior: smooth;
}
